.pageDiv{
	position: absolute;
    bottom: 10px;
	width: 100%; height: 50px;
}
.pageDiv>#pageDetailSpan{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.pageDiv>#pageDetailSpan>#detailSpan>a{
	display: inline-block;
	height: 32px; width: auto;
	text-align: center; line-height: 32px;
	border: 1px solid #ddd;
	color: #888;
	cursor: pointer;
}
.pageDiv>#pageDetailSpan>#detailSpan>a.num{
	width: 32px;
	margin: 0 5px;
	border-radius: 100%;
}
.pageDiv>#pageDetailSpan>#detailSpan>a.num:hover, .pageDiv>#pageDetailSpan>#detailSpan>a.num.active{
	background-color: #55D7CD; color: white;
	border: none;
}
.pageDiv>#pageDetailSpan>#detailSpan>a.first{
	width: 62px;
	margin-right: 10px; padding-left: 10px;
	background-color: #e0e0e0; color: white;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.pageDiv>#pageDetailSpan>#detailSpan>a.prev{
	width: 70px;
	margin-right: 18px;
	border-radius: 7px;
}
.pageDiv>#pageDetailSpan>#detailSpan>a.prev:hover{
	background-color: #55D7CD; color: white;
	border: none;
}
.pageDiv>#pageDetailSpan>#detailSpan>a.next{
	width: 70px;
	margin-left: 18px;
	border-radius: 7px;
}
.pageDiv>#pageDetailSpan>#detailSpan>a.next:hover{
	background-color: #55D7CD; color: white;
	border: none;
}
.pageDiv>#pageDetailSpan>#detailSpan>a.last{
	width: 62px;
	margin-left: 10px; padding-right: 10px;
	background-color: #ddd; color: white;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}