/*
 * 文件描述：VIP（线下扫码）样式
 * 创建人：赵志银
 * 创建时间：2019-11-01
*/
#head {
  height: 0.86rem;
  font-size: 0.36rem; font-weight: bold;
  line-height: 0.86rem; text-align: center;
  border-bottom: 1px solid #f4f4f4;
}
.hide {
  display: none;
}
#main {
  position: relative;
  width: 100%; height: calc(100% - 0.86rem);
  background-color: #fafafa;
}
.vipcard {
  position: relative;
  width: 100%; height: auto;
  background-color: #fff;
}
.show {
  display: block;
}
.vipcard:not(.coupon)>div:nth-child(1) {
  position: relative;
  width: 7.06rem; height: 3.6rem;
  margin: 0.26rem auto 0.58rem auto;
}
.svip>div:nth-child(1) {
  background: url('/src/assets/img/vip/svip.png') no-repeat;
  background-size: 100% 100%;
}
.vip>div:nth-child(1) {
  background: url('/src/assets/img/vip/vip.png') no-repeat;
  background-size: 100% 100%;
}
.vipcard:not(.coupon)>div:nth-child(1)>div:nth-child(1) {
  position: absolute;
  bottom: 0.54rem; left: 0.52rem;
  height: 0.32rem;
  line-height: 0.32rem;
}
.vipcard:not(.coupon)>div:nth-child(1)>div:nth-child(1)>span {
  font-size: 0.28rem; color: #847979;
}
.vipcard:not(.coupon)>div:nth-child(1)>div:nth-child(1)>span:nth-child(2) {
  font-size: 0.28rem; color: #D8BBBB;
}
.vip:not(.coupon)>div:nth-child(1)>div:nth-child(1)>span {
  font-size: 0.28rem; color: #B07C38;
}
.vip:not(.coupon)>div:nth-child(1)>div:nth-child(1)>span:nth-child(2) {
  font-size: 0.28rem; color: #AE762C;
}
.vipcard>div:nth-child(2) {
  height: 0.5rem; 
  margin-left: 0.24rem;
  line-height: 0.5rem;
  font-size: 0.36rem; font-weight: 600;
}
.vipcard>input {
  display: block;
  padding: 0 0.24rem; margin-top: 0.28rem;
  width: 100%; height: 0.88rem;
  border: none;
}
.vipcard>input::-webkit-input-placeholder { 
  color: #999;
}
.vipcard>input:-moz-placeholder {
  color: #999;
}
.vipcard>input::-moz-placeholder { 
  color: #999;
}
.vipcard>input:-ms-input-placeholder { 
  color: #999;
}
.vipcard>div:last-child {
  height: 2.82rem; width: 100%;
  border-top: 1px solid #f4f4f4;
}
.vipcard>div:last-child>div {
  margin: 0.8rem auto 0 auto;
  width: 7.02rem; height: 0.94rem;
  line-height: 0.94rem; text-align: center;
  font-size: 0.36rem; color: #fff;
  border-radius: 0.47rem;
  background-color: #ccc;
}

.coupon>div:nth-child(1) {
  position: relative;
  margin: 0.2rem auto 0.62rem auto; padding: 0.5rem 0.64rem 0.7rem 0.64rem;
  width: 7.14rem; min-height: 2.74rem;
  background: url('/src/assets/img/vip/coupon.png')  no-repeat;
  background-size: 100% 100%;
}
.coupon>.user {
  background: url('/src/assets/img/vip/coupon.png')  no-repeat;
  background-size: 100% 100%;
}
.coupon>div:nth-child(1).doc {
  background: url('/src/assets/img/vip/coupondoc.png')  no-repeat;
  background-size: 100% 100%;
}
.coupon>div:nth-child(1)>img:nth-child(1) {
    width: 3.34rem; height: 0.38rem;
}
.coupon>div:nth-child(1)>div:nth-child(2) {
  position: relative;
  margin-top: 0.18rem; padding-bottom: 0.16rem;
  line-height: 0.44rem;
  font-size: 0.32rem; font-weight: bold;
  box-sizing: content-box;
}
.coupon>div:nth-child(1)>div:nth-child(3) {
  height: 0.34rem; line-height: 0.34rem;
  font-size: 0.24rem; color: #666;
}

.foot {
  padding: 0.24rem;
  width: 100%;
}
.foot>div {
  height: 0.36rem; line-height: 0.36rem;
  font-size: 0.24rem;
}

#main .svip .act {
  background-color: #131829;
}
#main .vip .act {
  color: #68400B;
  background-color: #F0CD98;
}
#main .coupon .act {
  background-color: #EF5E8F;
}
#main .coupon .act.doc {
  background-color: #26C2C4;
}
.none {
  position: relative;
  width: 100%; height: calc(100% - 0.86rem);
  background-color: #fff;
}
.none>img {
  position: absolute;
  top: 2.36rem; left: 0; right: 0;
  margin: auto;
  width: 3rem; height: 2.18rem;
}
.none>div {
  position: absolute;
  top: 4.86rem; left: 0; right: 0;
  font-size: 0.28rem; color: #666;
  text-align: center;
}