#main {
    padding: 0.13rem 0.12rem 0.35rem 0.12rem;
}

h1 {
    margin-bottom: 0.06rem; 
    font-size: 0.12rem; 
}
h2 {
    margin: 0.18rem 0 0.06rem 0;
    font-size: 0.12rem;
}
p {
    line-height: 0.23rem;
    font-size: 0.12rem;
    color: #333;
}
