#rootPage {
    background-color: #f7f8f8;
}

.answerText {
    color:#666666;
    font-size: 0.7rem;
    line-height: 1.35rem;
    margin-bottom: 1.25rem;
}

.answerImg {
    margin-bottom: 0rem;

}

.imgRemark {
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
    color:#333333;
    margin-bottom: 1.25rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.answerTitle {
    font-weight: bold;
    font-size: 0.8rem;
    padding-bottom:0.85rem;
    margin-bottom:1rem;
    border-bottom: 0.05rem solid #efefef;
}