/**
* 文件描述：盆底肌肉康复器详情页
* 创建人：殷俊
* 创建时间：2019-07-14
*/
.subHead {
    color:#999999;
}

.notice {
    margin-top: 20px;
    margin-bottom: 30px;
}

.notice>p:nth-child(1) {
    color:#ef5e8f;
}

.notice>div:nth-child(2) {
    margin-top: 10px;
}

.notice>div:nth-child(3) {
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 32px;
}

.cricleBef {
    display:inline-block;
    width: 12px;
    height:12px;
    border-radius: 12px;
    margin-right:5px;
    background-color: #ef5e8f;
}